@import "../../../styles/constants.scss";

.movie-card {
  max-width: 30rem;

  .movie-poster {
    width: 100%;
    height: 45rem;
    margin-bottom: 1.6rem;
  }

  .movie-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: $whiter;

    .movie-title {
      margin-bottom: 1.2rem;

      font-size: 2rem;
    }

    .movie-genres {
      .movie-genre {
        font-size: 1.4rem;
      }
    }

    .movie-year {
      padding: 0.3rem 1.2rem;
      font-size: 1.4rem;
      border: 0.1rem solid $gray;
      border-radius: 0.5rem;
    }
  }
}
